<div class="w-full mb-2 flex justify-around py-3 items-center">
    <h1 class="text-3xl font-bold italic">Beisbol</h1>
    <nav class="flex gap-8 font-bold">
        <a href="#">Inicio</a>
        <a href="#">Noticias</a>
        <a href="#">Equipos</a>
        <a href="#">Posiciones</a>
    </nav>
</div>

<style>
    .w-full {
        box-shadow: 4px 14px 22px 8px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    }
</style>