<div class="w-full lg:mb-2 mb-4 flex justify-around py-3 items-center">
    <h1 class="lg:text-3xl font-bold italic">Beisbol</h1>
    <nav class="flex gap-8 font-bold">
        <a href="#" class="lg:text-base text-xs">Inicio</a>
        <a href="#" class="lg:text-base text-xs">Noticias</a>
        <a href="#" class="lg:text-base text-xs">Equipos</a>
        <a href="#" class="lg:text-base text-xs">Posiciones</a>
    </nav>
</div>

<style>
    .w-full {
        box-shadow: 4px 14px 22px 8px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    }
</style>